.navContainer {
  justify-content: space-between;
  margin: 0 20px 0 20px;
}

.logoImg {
  height: 52px;
  width: auto;
  opacity: 0.8;
}

.logoImg:hover {
  opacity: 1;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navLink {
  margin: 0 20px 0 20px !important;
}

.navLink:nth-child(-n + 3) {
  border-bottom: 1px solid transparent;
}

.navLink:nth-child(-n + 3):hover {
  border-bottom: 1px solid #000;
}

.resumeLink {
  border: 1px solid #000;
  border-radius: 4px;
}

.drawerTopBar {
  min-width: 50vw;
  padding: 5px 35px 5px 35px;
}

.navLinksDrawer {
  flex-direction: column;
  margin-top: 10px;
}

.navLinkDrawer {
  font-size: 1.15em;
  margin: 20px !important;
}
