/* Global CSS! */

html,
body {
  background-color: #90a4ae;
  font-family: sans-serif, "Roboto";
  margin: 0;
}

a {
  text-decoration: none;
}

.section-container {
  /* Every section component has this class as the parent div */
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.78),
      rgba(255, 255, 255, 0.78)
    ),
    url(./img/webb.png);
  padding: 80px 20px 20px 20px;
}

.content-container {
  /* Every section component has this class as the first child of the section-container */
  margin: 0 auto;
  max-width: 1000px;
}

.app-animate-on-load {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.25s;
}

.app-page-loading {
  opacity: 0;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes slideFromTop {
  100% {
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  100% {
    transform: translateX(0);
  }
}
