/* Global CSS! */

html,
body {
  background-color: #90a4ae;
  font-family: sans-serif, "Roboto";
  margin: 0;
}

a {
  text-decoration: none;
}

.section-container {
  /* Every section component has this class as the parent div */
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.78),
      rgba(255, 255, 255, 0.78)
    ),
    url(./img/webb.png);
  padding: 64px 20px 0px 20px;
}

.content-container {
  /* Every section component has this class as the first child of the section-container */
  margin: 0 auto 0 auto;
  max-width: 1000px;
}
